.CvCareer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.Card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: var(--font-size);
    padding: .5rem;
    & * {
        font-size: var(--font-size) !important;
    }

    & strong {
        font-weight: bold;
    }
    & h4 {
        padding: 0;
    }

    @media print {
        & {
            border-color: transparent;
            box-shadow: none;
            outline: none;
            padding: 0;
        }
    }
}

.CardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-bottom: .25rem;
    padding-right: 0;
}

.CardTitle {
    font-weight: bold;
    white-space: nowrap;
    width: auto;
}

.CardDescription {
    width: auto;
    display: flex;
    white-space: nowrap;

}

.CardContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: .5rem;
    border-top: 1px dashed var(--color-text);
    &, & p {
        max-width: 100%;
    }
}

.CardFooter {
    height: auto;
    padding: 0;

}

.CardAdditipnalP {

}

.CompanyBreak {
    font-size: 1.5rem;
    width: 100%;
    background-color: lightgray;
    padding: 0 !important;
    margin: .5rem 0 !important;
}
