.CvHeader {
    --contacts-font-size: 0.5rem;
    --contacts-line-height: 1.5;

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: .5rem;

    & > * {
        padding: 0;
    }
}

.Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-width: 10%;
    width: auto;
    height: 100%;
    aspect-ratio: 3/4;
    background: url("/assets/cv/photo.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .25rem;
    /*margin-bottom: calc(var(--contacts-font-size) * var(--contacts-line-height) * 1.5);*/
}

.Info {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding: 0 .5rem;
}

.Name, .Role {
    width: 100%;
    white-space: nowrap;
}

.Name {
    font-weight: bold;
    margin-top: auto;
}

.Role {
    font-weight: normal;
    margin-bottom: auto;
}

.Contacts {
    width: 100%;
    display: flex;
    gap: .25rem;
    margin-top: auto;
    margin-bottom: 0;
    flex-wrap: wrap;

    & li {
        padding: 0;
    }

    & a {
        display: flex;
        flex-wrap: nowrap;
        gap: .125rem;
        align-items: center;
    }

    & span {
        font-size: var(--contacts-font-size);
        line-height: var(--contacts-line-height);
        white-space: nowrap;
    }

    & svg {
        width: var(--contacts-font-size);
        height: var(--contacts-font-size);
    }
}

.QrOrBtns {
    width: 20%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}



@media screen and (max-width: 319px) {
    .Photo {
        width: 30%;
    }
    .Info {
        width: 70%;
    }
    .QrOrBtns {
        display: none;
    }
}

@media print {
    :root {
        --header-height: 40mm;
        --qr-font-size: 5mm;
    }
    html, body {
        background: gray;
    }
    main {
        background: white;
        padding: 0 !important;
    }
    .CvHeader, .Info, .Photo {
        height: var(--header-height);
    }
    .Name, .Role {
        font-size: calc(var(--qr-font-size) * 2);
        line-height: calc(var(--qr-font-size) * 2);
        height: calc(var(--qr-font-size) * 2);
        margin: 0;
        font-weight: bold;
        margin-bottom: calc(var(--qr-font-size) / 5);
    }
    .Role {
        font-size: calc(var(--qr-font-size) * 1.5);
        line-height: calc(var(--qr-font-size) * 1.5);
        font-weight: normal;
    }
    .Contacts {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }


    .QrCode {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
    }

    .QrCode img {
        height: calc(var(--header-height) - (var(--qr-font-size) * 2)) !important;
        width: calc(var(--header-height) - (var(--qr-font-size) * 2)) !important;
    }

    .QrCode p {
        width: 100%;
        margin: 0;
        line-height: var(--qr-font-size) !important;
        text-align: center;
        font-size: var(--qr-font-size) !important;
        color: #19417E;
        font-weight: bold;
    }
}
