.CvQrButtons {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
    gap: .35rem;

    & button {
        display: contents;
    }
}

.ProcrastinateModalContent {
    width: 100vw;
    min-width: 100vw;
    height: 100svh;
    min-height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ProcrastinateModalHeader,
.ProcrastinateModalTitle,
.ProcrastinateModalDescr,
.ProcrastinateModalScrollable {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.ProcrastinateModalScrollable {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
