.FlexLayout {
    display: flex;
    flex-wrap: nowrap;
}

.LayoutPart {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    & > * {
        width: 100%;
    }
}

.LeftSection {
    width: 75%;
}

.RightAside {
    width: 25%;
    padding-left: .5rem;
}
